:root{
  --primary:#1A73E8;
  --bg:#F4F7FE;
  --card:#ffffff;
  --muted:#64748b;
}

.auth-root{
  min-height:100vh;
  background:var(--bg);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
}

.auth-big-card{
  width:620px;           
  background:var(--card);
  padding:55px 48px;     
  border-radius:24px;    
  box-shadow:0 18px 48px rgba(20,30,80,0.10);
  text-align:center;
  transition:0.3s ease;
}


.auth-title{
  margin-bottom:10px;
  font-size:32px;    
  font-weight:700;
  color:#1e293b;
}


.auth-sub{
  color:var(--muted);
  font-size:17px;
  margin-bottom:32px;
}


.auth-form{
  text-align:left;
  margin-top:10px;
}

.auth-form label{
  font-size:14px;
  font-weight:500;
  color:#1e293b;
}

.auth-form input{
  width:100%;
  padding:16px 18px;
  border-radius:12px;
  border:1px solid #cbd5e1;
  margin-bottom:20px;
  margin-top:8px;
  background:#fff;
  font-size:16px;
}


.auth-btn{
  width:100%;
  padding:18px;
  background:var(--primary);
  border:none;
  border-radius:14px;
  color:white;
  font-size:18px;
  font-weight:600;
  margin-top:10px;
  cursor:pointer;
  box-shadow:0 8px 22px rgba(26,115,232,0.20);
}


.auth-btn:hover{
  background:#1668d4;
}

.auth-footer{
  margin-top:20px;
  font-size:14px;
}

.link-btn{
  background:none;
  border:none;
  color:var(--primary);
  cursor:pointer;
  font-weight:600;
  margin-left:6px;
}
